In [60]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

import sklearn
from sklearn.cluster import KMeans
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import scale

import sklearn.metrics as sm
from sklearn import datasets
from sklearn.metrics import confusion_matrix,classification_report

In [20]:
df = pd.read_csv('kmeans.csv')
print('fin execution')

fin execution

In [21]:
df.head(3)

,Unnamed: 0,_id,userCreateDate,Maxfollowers,Minfollowers,retweet,reply,MaxAmi,MinAmi,MaxStatuses,...,agressivite,frenquenTweet,frequenceAmi,frequenceFavourite,frequenceMention,frequenceFollowers,longMoyen,hstagmoyenTweet,refermoyenTweet,visibilite
0,0,418,Wed Jul 05 19:52:46 +0000 2006,87904,87890,0,0,2489,2486,66656,...,0.165714,1.767543e-07,6.600176e-09,3.585946e-08,1.203094e-08,2.330984e-07,113.333333,1.0,0.666667,0.408571
1,1,730,Fri Jul 14 01:15:50 +0000 2006,621,621,0,0,191,191,12159,...,0.000000,3.232402e-08,5.077628e-10,8.411317e-09,5.316888e-11,1.650894e-09,139.000000,0.0,1.000000,0.081429
2,2,761,Fri Jul 14 04:56:28 +0000 2006,4562,4562,0,0,483,483,29724,...,0.000000,7.900197e-08,1.283742e-09,1.229363e-07,4.996761e-10,1.212512e-08,31.000000,0.0,0.000000,0.000000

In [48]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1843439 entries, 0 to 1843438
Data columns (total 39 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   _id                 int64
 2   userCreateDate      object
 3   Maxfollowers        int64
 4   Minfollowers        int64
 5   retweet             int64
 6   reply               int64
 7   MaxAmi              int64
 8   MinAmi              int64
 9   MaxStatuses         int64
 10  MinStatuses         int64
 11  Maxfavourites       int64
 12  Minfavourites       int64
 13  Maxmention          int64
 14  Minmention          int64
 15  nombre_tweet        int64
 16  tweets              object
 17  longTotalTweet      float64
 18  hstag               float64
 19  reference           float64
 20  Nombreurl           float64
 21  dateMax             float64
 22  dateMin             float64
 23  DateUser            float64
 24  statuses            int64
 25  friends             int64
 26  favourites          int64
 27  mention             int64
 28  followers           int64
 29  agressivite         float64
 30  frenquenTweet       float64
 31  frequenceAmi        float64
 32  frequenceFavourite  float64
 33  frequenceMention    float64
 34  frequenceFollowers  float64
 35  longMoyen           float64
 36  hstagmoyenTweet     float64
 37  refermoyenTweet     float64
 38  visibilite          float64
dtypes: float64(17), int64(20), object(2)
memory usage: 548.5+ MB

### Les variables du kmeans 
Pour le kmeans nous retiendrons les variables suivantes:

In [54]:
plot = df[[ 'agressivite', 'visibilite',
            'hstag', 'hstagmoyenTweet','longMoyen','frequenceFollowers',
            'frequenceMention','frequenceAmi','refermoyenTweet','retweet','reply', 'Nombreurl',
            'frenquenTweet','frequenceFavourite']]
plot

,agressivite,visibilite,hstag,hstagmoyenTweet,longMoyen,frequenceFollowers,frequenceMention,frequenceAmi,refermoyenTweet,retweet,reply,Nombreurl,frenquenTweet,frequenceFavourite
0,0.165714,0.408571,6.0,1.0,113.333333,2.330984e-07,1.203094e-08,6.600176e-09,0.666667,0,0,5.0,1.767543e-07,3.585946e-08
1,0.000000,0.081429,0.0,0.0,139.000000,1.650894e-09,5.316888e-11,5.077628e-10,1.000000,0,0,0.0,3.232402e-08,8.411317e-09
2,0.000000,0.000000,0.0,0.0,31.000000,1.212512e-08,4.996761e-10,1.283742e-09,0.000000,0,0,1.0,7.900197e-08,1.229363e-07
3,0.000000,0.082857,1.0,1.0,88.000000,5.712456e-08,5.005144e-09,2.921218e-09,0.000000,0,0,0.0,3.689134e-08,1.619030e-08
4,0.000000,0.330000,3.0,3.0,140.000000,1.169010e-08,7.121953e-10,2.482054e-09,1.000000,0,0,1.0,3.113728e-08,3.201158e-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1843434,0.000000,0.330000,3.0,3.0,75.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0,0,0.0,8.356546e-06,0.000000e+00
1843435,0.000000,0.330000,3.0,3.0,75.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0,0,0.0,1.461988e-05,0.000000e+00
1843436,0.000000,0.412857,4.0,4.0,142.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0,0,0.0,4.844291e-05,0.000000e+00
1843437,0.000000,0.330000,3.0,3.0,75.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000,0,0,0.0,3.521127e-06,0.000000e+00
1843438,0.000000,0.495714,5.0,5.0,121.000000,0.000000e+00,0.000000e+00,1.351351e-05,1.000000,0,0,1.0,3.378378e-06,3.378378e-06

### Nous allons normaliser les donnees pour avoir des donnees plus homogenes

In [55]:
X = plot.values

In [57]:
X

array([[1.65714286e-01, 4.08571429e-01, 6.00000000e+00, ...,
        5.00000000e+00, 1.76754261e-07, 3.58594555e-08],
       [0.00000000e+00, 8.14285714e-02, 0.00000000e+00, ...,
        0.00000000e+00, 3.23240232e-08, 8.41131749e-09],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        1.00000000e+00, 7.90019732e-08, 1.22936256e-07],
       ...,
       [0.00000000e+00, 4.12857143e-01, 4.00000000e+00, ...,
        0.00000000e+00, 4.84429066e-05, 0.00000000e+00],
       [0.00000000e+00, 3.30000000e-01, 3.00000000e+00, ...,
        0.00000000e+00, 3.52112676e-06, 0.00000000e+00],
       [0.00000000e+00, 4.95714286e-01, 5.00000000e+00, ...,
        1.00000000e+00, 3.37837838e-06, 3.37837838e-06]])

In [58]:
X = StandardScaler().fit_transform(X)

In [59]:
X

array([[ 9.24757600e-02,  1.26681175e-01,  6.91476362e-02, ...,
         5.42806595e-01, -1.30075624e-02, -8.68600022e-02],
       [-6.58458764e-02, -2.71313745e-01, -1.68921894e-01, ...,
        -2.07891374e-01, -1.11777265e-01, -1.18205298e-01],
       [-6.58458764e-02, -3.70377982e-01, -1.68921894e-01, ...,
        -5.77517803e-02, -7.98561986e-02,  1.25801863e-02],
       ...,
       [-6.58458764e-02,  1.31895082e-01, -1.02088738e-02, ...,
        -2.07891374e-01,  3.29941633e+01, -1.27810875e-01],
       [-6.58458764e-02,  3.10928756e-02, -4.98871287e-02, ...,
        -2.07891374e-01,  2.27406670e+00, -1.27810875e-01],
       [-6.58458764e-02,  2.32697289e-01,  2.94693812e-02, ...,
        -5.77517803e-02,  2.17644715e+00,  3.73023836e+00]])

In [61]:
clustering = KMeans(n_clusters=2)
clustering.fit(X)

KMeans(n_clusters=2)

In [63]:
labels = clustering.labels_

In [65]:
label = pd.DataFrame(labels, columns=['labels'])

In [68]:
label[label['labels' ] == 1]

         labels
191164        1
1680206       1

In [69]:
plot.iloc[191164]

agressivite           1.228597e+03
visibilite            2.779719e+01
hstag                 2.199300e+04
hstagmoyenTweet       8.224757e+00
longMoyen             1.354095e+02
frequenceFollowers    3.391881e-06
frequenceMention      2.817609e-09
frequenceAmi          1.596035e-06
refermoyenTweet       1.245325e-01
retweet               0.000000e+00
reply                 0.000000e+00
Nombreurl             2.672000e+03
frenquenTweet         1.247093e-06
frequenceFavourite    4.443515e-07
Name: 191164, dtype: float64